h1 {
  color: Azure;
  font-family: serif;
  margin-bottom: 0;
}

body {
  font-family: Georgia;
  background-image:
    url("https://s3.amazonaws.com/codecademy-content/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
}

article {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
}

.header {
  background-color: CornflowerBlue;
  text-align: center;
}

.about-me {
  font-size: 20px;
  opacity: 0.5;
  color: white;
}

.title {
  font-weight: bold;
}

.author {

}

.news {

}
